header{
    height: 130vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*===================CTA===================*/

.cta{
    margin: 2.5rem 0 0 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}



/*===================HEADER SOCIALS===================*/

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
}
.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*===================IMAGE===================*/

.me{
    width: 22rem;
    /* border: 1px solid var(--color-primary); */
    position: absolute;
    left:calc(50% - 11rem);
    margin-top: 4rem;
    /* border-radius: 50% 20%/10% 40%; */
    /* border-radius:0 2rem 0 2rem; */
    /* border-radius: 11rem; */
    overflow: hidden;
    background-size: cover;
    filter: drop-shadow(3px 3px 3px var(--color-primary));
    transition: var(--transition);
}
.me:hover{
  
     /* border-radius: 11rem; */
  transition: var(--transition);
  /* transform: matrix(0, 0.5, 0.5, 0, 0, 0); */
   transform: translateY(-1rem);
}


/*===================SCROLL===================*/

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 14.5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
}

/*===================MEDIA QUERY===================*/

@media screen and (max-width: 1030px){
    #header{
        height: 88vh;
    }
    .header__socials{
        display: none;
    }
    .scroll__down{
        display: none;
    }
}
@media screen and (max-width: 600px){
    #header{
        height: 88vh;
    }
    .header__socials{
        display: none;
    }
    .scroll__down{
        display: none;
    }

}